<?xml version='1.0' encoding='utf-8'?>
<widget id="com.blackberry.bbd.example.cdv.policy"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WebSocketClient</name>
    <description>
        Demonstrates how to use secured WebSocket API.
        The application has a possibility to send data of different types (text, ArrayBuffer, Blob) to the WebSocket server and
        receive messages of different types (text, ArrayBuffer, Blob) from the server.
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="file:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/android/resources/drawable-ldpi/com_bbd_default_logo.png" density="ldpi" />
        <icon src="res/android/resources/drawable-mdpi/com_bbd_default_logo.png" density="mdpi" />
        <icon src="res/android/resources/drawable-hdpi/com_bbd_default_logo.png" density="hdpi" />
        <icon src="res/android/resources/drawable-xhdpi/com_bbd_default_logo.png" density="xhdpi" />
        <hook src="hooks/after_android_platform_add.js" type="after_platform_add" />
    </platform>
    <platform name="ios">
        <preference name="EnableViewportScale" value="true"/>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <resource-file src="res/ios/LaunchScreen.storyboard" />
        <resource-file src="res/ios/Images.xcassets" />
        <config-file parent="UILaunchStoryboardName" target="*-Info.plist">
            <string>LaunchScreen</string>
        </config-file>
        <hook type="after_platform_add" src="hooks/after_ios_platform_add.js" />
    </platform>
    <preference name="Orientation" value="portrait" />
</widget>
